<div class="main-content">
  <div class="container-fluid">

    <!-- Submit button -->
    <div class="row" style="margin-bottom: 8px;">
      <div class="col-md-12 text-right">
        <button
          class="btn btn-round"
          style="background-color:#00704A; color:#fff;"
          [disabled]="validateOrder()"
          (click)="submitOrder()"
        >
          <i class="material-icons" style="vertical-align:middle;">receipt_long</i>
          Submit &amp; Get S.O.
        </button>
      </div>
    </div>

    <!-- Section 1: Store Details -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Store Details</h4>
            <p class="card-category">Enter the store information below</p>
          </div>
          <div class="card-body">
            <form [formGroup]="storeDetailsForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-label>Name</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">store</i></span>
                    </div>
                    <input class="form-control" matInput placeholder="Store Name" formControlName="name" required />
                  </div>
                </div>
                <div class="col-md-6">
                  <mat-label>Email</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">email</i></span>
                    </div>
                    <input class="form-control" matInput placeholder="Store Email" formControlName="email" required />
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:12px;">
                <div class="col-md-6">
                  <mat-label>Contact Number</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">phone</i></span>
                    </div>
                    <input class="form-control" matInput placeholder="Contact Number" formControlName="contactNumber" required />
                  </div>
                </div>
                <div class="col-md-6">
                  <mat-label>Payment Method</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">payment</i></span>
                    </div>
                    <mat-select class="form-control" placeholder="Payment Method" formControlName="paymentMethod">
                      <mat-option *ngFor="let method of paymentMethods" [value]="method">{{ method }}</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 2: Vendor Details -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Vendor Details</h4>
            <p class="card-category">Enter the vendor information below</p>
          </div>
          <div class="card-body">
            <form [formGroup]="vendorDetailsForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-label>Vendor Name</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">business</i></span>
                    </div>
                    <input class="form-control" matInput placeholder="Vendor Name" formControlName="vendorName" required />
                  </div>
                </div>
                <div class="col-md-6">
                  <mat-label>Vendor Email</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">email</i></span>
                    </div>
                    <input class="form-control" matInput placeholder="Vendor Email" formControlName="vendorEmail" required />
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:12px;">
                <div class="col-md-12">
                  <mat-label>Billing Address</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">location_on</i></span>
                    </div>
                    <input class="form-control" matInput placeholder="Billing Address" formControlName="billingAddress" required />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 3: Select Product -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Select Product:-</h4>
            <p class="card-category">Choose category and product to add to your order</p>
          </div>
          <div class="card-body">
            <form [formGroup]="productForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-label>Category</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">category</i></span>
                    </div>
                    <mat-select class="form-control" placeholder="Select Category" formControlName="category"
                      (selectionChange)="getProductsByCategory($event.value)">
                      <mat-option *ngFor="let cat of categorys" [value]="cat">{{ cat.name }}</mat-option>
                    </mat-select>
                  </div>
                </div>
                <div class="col-md-6">
                  <mat-label>Product</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">fastfood</i></span>
                    </div>
                    <mat-select class="form-control" placeholder="Select Product" formControlName="product"
                      (selectionChange)="getProductDetails($event.value)">
                      <mat-option *ngFor="let prod of products" [value]="prod">{{ prod.name }}</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:12px;">
                <div class="col-md-4">
                  <mat-label>Price</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">attach_money</i></span>
                    </div>
                    <input class="form-control" matInput placeholder="Price" formControlName="price" readonly />
                  </div>
                </div>
                <div class="col-md-4">
                  <mat-label>Quantity</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">add_shopping_cart</i></span>
                    </div>
                    <input class="form-control" matInput type="number" placeholder="Quantity" formControlName="quantity"
                      (change)="setQuantity($event)" min="1" />
                  </div>
                </div>
                <div class="col-md-4">
                  <mat-label>Total</mat-label>
                  <div class="input-group form-group-no-border">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="material-icons">calculate</i></span>
                    </div>
                    <input class="form-control" matInput placeholder="Total" formControlName="total" readonly />
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:20px;">
                <div class="col-md-6">
                  <button
                    class="btn btn-round"
                    style="background-color:#00704A; color:#fff;"
                    [disabled]="validateProductAdd()"
                    (click)="addProduct()"
                  >
                    <i class="material-icons" style="vertical-align:middle;">add</i> Add
                  </button>
                </div>
                <div class="col-md-6 text-right">
                  <span class="btn btn-round" style="background-color:#1E3932; color:#fff; pointer-events:none;">
                    Total Amount: {{ totalAmount | currency:'USD' }}
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 4: Added Products -->
    <div class="row" *ngIf="tableData.length > 0">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Added Products</h4>
            <p class="card-category">Products added to this stock order</p>
          </div>
          <div class="card-body table-responsive">
            <table mat-table [dataSource]="tableData" class="table table-hover" style="width:100%;">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="text-primary">Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef class="text-primary">Category</th>
                <td mat-cell *matCellDef="let element">{{ element.category }}</td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="text-primary">Price</th>
                <td mat-cell *matCellDef="let element">{{ element.price | currency:'USD' }}</td>
              </ng-container>
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef class="text-primary">Quantity</th>
                <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
              </ng-container>
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef class="text-primary">Total</th>
                <td mat-cell *matCellDef="let element">{{ element.total | currency:'USD' }}</td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="text-primary">Delete</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <button mat-icon-button style="color:#CBA258;" (click)="handleDeleteProduct(i)">
                    <i class="material-icons">close</i>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
