 <app-navbar></app-navbar>

<div class="wrapper">
    <div class="page-header" style="background-image: url('../../assets/img/bck-grnd-city-view-bridge-boats-docks-carnival-screen_saver.png');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Forgot Password</h3>
                          <p style="text-align:center; padding: 0 20px;">Enter your username and mobile number on file, then set a new password.</p>

                          <form class="register-form" [formGroup]="forgotPasswordForm">

                            <label>Username</label>
                            <div class="input-group form-group-no-border">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <mat-icon matSuffix>email</mat-icon>
                                </span>
                              </div>
                                <input class="form-control" placeholder="Username" formControlName="username" required>
                            </div>
                            <br>

                            <label>Mobile Number</label>
                            <div class="input-group form-group-no-border">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <mat-icon matSuffix>phone</mat-icon>
                                </span>
                              </div>
                                <input type="text" class="form-control" placeholder="Mobile Number" formControlName="mobileNumber" required>
                            </div>
                            <br>

                            <label>New Password</label>
                            <div class="input-group form-group-no-border">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <mat-icon matSuffix>key</mat-icon>
                                </span>
                              </div>
                                <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword" required>
                            </div>
                            <br>

                            <label>Confirm New Password</label>
                            <div class="input-group form-group-no-border">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <mat-icon matSuffix>key</mat-icon>
                                </span>
                              </div>
                                <input type="password" class="form-control" placeholder="Confirm New Password" formControlName="confirmPassword" required>
                            </div>
                            <mat-hint *ngIf="validateSubmit()">
                                <span>New Password &amp; Confirm Password does not match.</span>
                            </mat-hint>
                            <br>

                            <button class="btn btn-danger btn-block btn-round" type="submit" (click)="handleSubmit()"
                              [disabled]="validateSubmit() || !(forgotPasswordForm.valid && forgotPasswordForm.dirty)">
                                Reset Password
                            </button>
                          </form>

                          <div class="forgot" style="text-align:center; margin-top:10px;">
                              <a routerLink="/sign-in" class="btn btn-link btn-danger">Back to Sign In</a>
                          </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>
     </div>
