
<app-navbar></app-navbar>
<div class="page-header" data-parallax="true" style="background-image: url('../../assets/img/cafe-project-1.jpeg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>Cafe Inventory Management Demo</h1>
          <h3>Start managing your inventory here today.</h3>
          <br />
          <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fas fa-play"></i>Watch video</a>
          <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
      </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">

  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">Let's talk Service...</h2>
              <h5 class="description">Create, approve, and track all your stock orders with our Cafe Inventory Service. Free your team from repetitive and error-prone manual processes. After you create a stock order (S.O.), you can send it to your vendor individually or in bulk. We are adding an AI Agent for further automation in manual tasks and the new release is coming soon.</h5>
              <br>
              <!-- <a  class="btn btn-danger btn-round">Register</a> -->
          </div>
      </div>

      <br/><br/>

      <div class="row">
          <div class="col-md-3">
              <div class="info">

                  <div class="icon icon-danger">
                      <mat-icon class="icon-display" svgIcon="coffee-building"></mat-icon> 
                  </div>

                  <div class="description">
                      <h4 class="info-title">Cafe Inventory</h4>
                      <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                      <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                  </div>

              </div>
          </div>

          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                    <mat-icon class="icon-display" svgIcon="purchase-order"></mat-icon> 
                  </div>
                  <div class="description">
                      <h4 class="info-title">Stock Orders</h4>
                      <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                      <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                    <mat-icon class="icon-display" svgIcon="delivery-truck"></mat-icon> 
                </div>
                  <div class="description">
                      <h4 class="info-title">Deliveries</h4>
                      <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                      <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                  <div class="icon icon-danger">
                    <mat-icon class="icon-display" svgIcon="coffee-menu"></mat-icon> 
                </div>
                  <div class="description">
                      <h4 class="info-title">Manage Cafe Menu</h4>
                      <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                      <!-- <a href="#pkp" class="btn btn-link btn-danger">See more</a> -->
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>

<div class="section section-dark text-center">
  <div class="container">
      <h2 class="title">Let's talk about your Team...</h2>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="../../assets/img/store-manager.png" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Store Owner</h4>
                              <h6 class="card-category">Franchise Owner</h6>
                          </div>
                      </a>
                      <p class="card-description text-center">
                      As the Franchise Owner, you can control access to the inventory dashboard with this application. You also have the ability to connect with other store owners in this application. It is virtually impossible for you to reach the heights without teamwork. 
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="../../assets/img/supervisor.png" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Store Supervisor</h4>
                              <h6 class="card-category">Employee 1</h6>
                          </div>
                      </a>
                      <p class="card-description text-center">
                      If the store owner permits, you can also have access to inventory and assist with creating purchase orders. A group becomes a team when each member is sure enough of his or herself and their contribution to praise the skill of the others.
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="../../assets/img/employee.png" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Employee</h4>
                              <h6 class="card-category">Employee 2</h6>
                          </div>
                      </a>
                      <p class="card-description text-center">
                      It is not ideal for the employee to have access to the inventory dashboard. The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                      </p>
                  </div>
                  <div class="card-footer text-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                      <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  <!-- <div class="section landing-section">
      <div class="container">
          <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                  <h2 class="text-center">Keep in touch?</h2>
                  <form class="contact-form">
                      <div class="row">
                          <div class="col-md-6">
                              <label>Name</label>
                              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                              </div>
                          </div>
                          <div class="col-md-6">
                              <label>Email</label>
                              <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                              </div>
                          </div>
                      </div>
                      <label>Message</label>
                      <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                      <div class="row">
                          <div class="col-md-4 mr-auto ml-auto">
                              <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div> -->
</div>


<!-- <div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
    </ul>
  </nav>
</div>

<div class="footer" id="signup">
  <h2>All right reserved Roger Richards</h2>
</div> -->