
<!-- <div class="footer register-footer text-center">
    <h6>&copy;{{test | date: 'yyyy'}}, crafted project with <i class="fas fa-heart heart"></i> by Roger Richards</h6>
</div> -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.linkedin.com/in/roger-s-richards/">Roger Richards</a></li>
                    <li><a href="https://medium.com/">Blog</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, crafted with <i class="fas fa-heart heart"></i> by Roger Richards 
                </span>
            </div>
        </div>
    </div>
</footer>